<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a href="#" class="navbar-brand d-flex align-items-center">
     <a class="navbar-brand" href="#"><img class="logo" src="{% static 'media/logo.png' %}" alt=""></a>
<svg class="bi bi-display-fill mr-2" width="1em" height="1em"   viewBox="0 0 16 16" fill="currentColor"xmlns="http://www.w3.org/2000/svg"></svg>
  <strong> Django CRUD Application</strong>
 </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'app:posts' %}">Manage Posts</a>
            </li>
        </ul>
    </div>
</nav>
